body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	
	
	color: #000000;
}

/* ~~ 鍏冪礌/鏍囩閫夋嫨鍣�~~ */
ul,ol,dl {
	/* 鐢变簬娴忚鍣ㄤ箣闂寸殑宸紓锛屾渶浣冲仛娉曟槸鍦ㄥ垪琛ㄤ腑灏嗗～鍏呭拰杈硅窛閮借缃负闆躲�涓轰簡淇濇寔涓�嚧锛屾偍鍙互鍦ㄦ澶勬寚瀹氶渶瑕佺殑鏁板�锛屼篃鍙互鍦ㄥ垪琛ㄦ墍鍖呭惈鐨勫垪琛ㄩ」锛圠I銆丏T 鍜�DD锛変腑鎸囧畾闇�鐨勬暟鍊笺�璇锋敞鎰忥紝闄ら潪缂栧啓涓�釜鏇翠负鍏蜂綋鐨勯�鎷╁櫒锛屽惁鍒欐偍鍦ㄦ澶勮繘琛岀殑璁剧疆灏嗕細灞傚彔鍒�.nav 鍒楄〃銆�*/
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
	margin-top: 0;
	/* 鍒犻櫎涓婅竟璺濆彲浠ヨВ鍐宠竟璺濅細瓒呭嚭鍏跺寘鍚殑 div 鐨勯棶棰樸�鍓╀綑鐨勪笅杈硅窛鍙互浣�div 涓庡悗闈㈢殑浠讳綍鍏冪礌淇濇寔涓�畾璺濈銆�*/
	padding-right: 15px;
	padding-left: 15px;
	/* 鍚�div 鍐呯殑鍏冪礌渚ц竟锛堣�涓嶆槸 div 鑷韩锛夋坊鍔犲～鍏呭彲閬垮厤浣跨敤浠讳綍鏂规妯″瀷鏁板銆傛澶栵紝涔熷彲灏嗗叿鏈変晶杈瑰～鍏呯殑宓屽 div 鐢ㄤ綔鏇夸唬鏂规硶銆�*/
}

a img { /* 姝ら�鎷╁櫒灏嗗垹闄ゆ煇浜涙祻瑙堝櫒涓樉绀哄湪鍥惧儚鍛ㄥ洿鐨勯粯璁よ摑鑹茶竟妗嗭紙褰撹鍥惧儚鍖呭惈鍦ㄩ摼鎺ヤ腑鏃讹級 */
	border: none;
}

/* ~~ 绔欑偣閾炬帴鐨勬牱寮忓繀椤讳繚鎸佹椤哄簭锛屽寘鎷敤浜庡垱寤烘偓鍋滄晥鏋滅殑閫夋嫨鍣ㄧ粍鍦ㄥ唴銆�~~ */
a:link {
	color: #42413C;
	text-decoration: underline;
	/* 闄ら潪灏嗛摼鎺ヨ缃垚鏋佷负鐙壒鐨勫瑙傛牱寮忥紝鍚﹀垯鏈�ソ鎻愪緵涓嬪垝绾匡紝浠ヤ究鍙粠瑙嗚涓婂揩閫熻瘑鍒�*/
}

a:visited {
	color: #6E6C64;
	text-decoration: underline;
}

a:hover,a:active,a:focus { /* 姝ょ粍閫夋嫨鍣ㄥ皢涓洪敭鐩樺鑸�鎻愪緵涓庨紶鏍囦娇鐢ㄨ�鐩稿悓鐨勬偓鍋滀綋楠屻� */
	text-decoration: none;
}

/* ~~ 姝ゅ浐瀹氬搴﹀鍣ㄥ寘鍚墍鏈夊叾瀹�div ~~ */
.container {
	width: 980px;
	background: #FFF;
	margin: 0 auto; /* 渚ц竟鐨勮嚜鍔ㄥ�涓庡搴︾粨鍚堜娇鐢紝鍙互灏嗗竷灞�眳涓榻�*/
    padding: 0;
	overflow: hidden; /* 姝ゅ０鏄庡彲浣�.container 浜嗚В鍏跺唴閮ㄦ诞鍔ㄥ垪鐨勭粨鏉熶綅缃互鍙婂寘鍚垪鐨勪綅缃�*/
	
}

/* ~~ 浠ヤ笅鏄甯冨眬鐨勫垪銆�~~ 

1) 濉厖鍙細鏀剧疆浜�div 鐨勯《閮ㄥ拰/鎴栧簳閮ㄣ�姝�div 涓殑鍏冪礌渚ц竟浼氭湁濉厖銆傝繖鏍凤紝鎮ㄥ彲浠ラ伩鍏嶄娇鐢ㄤ换浣曗�鏂规妯″瀷鏁板鈥濄�璇锋敞鎰忥紝濡傛灉鍚�div 鑷韩娣诲姞浠讳綍渚ц竟濉厖鎴栬竟妗嗭紝杩欎簺渚ц竟濉厖鎴栬竟妗嗗皢涓庢偍瀹氫箟鐨勫搴︾浉鍔狅紝寰楀嚭 *鎬昏* 瀹藉害銆傛偍涔熷彲浠ラ�鎷╁垹闄�div 涓殑鍏冪礌鐨勫～鍏咃紝骞跺湪璇ュ厓绱犱腑鍙﹀鏀剧疆涓�釜娌℃湁浠讳綍瀹藉害浣嗗叿鏈夎璁℃墍闇�～鍏呯殑 div銆�

2) 鐢变簬杩欎簺鍒楀潎涓烘诞鍔ㄥ垪锛屽洜姝ゆ湭瀵瑰叾鎸囧畾杈硅窛銆傚鏋滃繀椤绘坊鍔犺竟璺濓紝璇烽伩鍏嶅湪娴姩鏂瑰悜涓�晶鏀剧疆杈硅窛锛堜緥濡傦細div 涓殑鍙宠竟璺濊缃负鍚戝彸娴姩锛夈�鍦ㄥ緢澶氭儏鍐典笅锛岄兘鍙互鏀圭敤濉厖銆傚浜庡繀椤绘墦鐮存瑙勫垯鐨�div锛屽簲鍚戣 div 鐨勮鍒欎腑娣诲姞鈥渄isplay:inline鈥濆０鏄庯紝浠ユ帶鍒舵煇浜涚増鏈殑 Internet Explorer 浼氫娇杈硅窛缈诲�鐨勯敊璇�

3) 鐢变簬鍙互鍦ㄤ竴涓枃妗ｄ腑澶氭浣跨敤绫伙紙骞朵笖涓�釜鍏冪礌鍙互搴旂敤澶氫釜绫伙級锛屽洜姝ゅ凡鍚戣繖浜涘垪鍒嗛厤绫诲悕锛岃�涓嶆槸 ID銆備緥濡傦紝蹇呰鏃跺彲鍫嗗彔涓や釜渚ф爮 div銆傛偍鍙互鏍规嵁涓汉鍋忓ソ灏嗚繖浜涘悕绉拌交鏉惧湴鏀逛负 ID锛屽墠鎻愭槸浠呭姣忎釜鏂囨。浣跨敤涓�銆�

4) 濡傛灉鎮ㄦ洿鍠滄鍦ㄥ乏渚э紙鑰屼笉鏄彸渚э級杩涜瀵艰埅锛屽彧闇�娇杩欎簺鍒楀悜鐩稿弽鏂瑰悜娴姩锛堝叏閮ㄥ悜宸︼紝鑰岄潪鍏ㄩ儴鍚戝彸锛夛紝瀹冧滑灏嗘寜鐩稿弽椤哄簭鏄剧ず銆傛偍鏃犻渶鍦�HTML 婧愭枃浠朵腑绉诲姩 div銆�

*/
.sidebar1 {
	float: right;
	width: 180px;
	background: #D5F5F7;
	padding-bottom: 10px;
}

.content {
	padding: 10px 0;
	width: 780px;
	margin: 0 auto;
	
}
/* ~~ 姝ゅ垎缁勭殑閫夋嫨鍣ㄤ负 .content 鍖哄煙涓殑鍒楄〃鎻愪緵浜嗙┖闂�~~ */

/* ~~ 瀵艰埅鍒楄〃鏍峰紡锛堝鏋滈�鎷╀娇鐢ㄩ鍏堝垱寤虹殑 Spry 绛夊脊鍑鸿彍鍗曪紝鍒欏彲浠ュ垹闄ゆ鏍峰紡锛�~~ */
ul.nav {
	list-style: none; /* 杩欏皢鍒犻櫎鍒楄〃鏍囪 */
	border-top: 1px solid #666; /* 杩欏皢涓洪摼鎺ュ垱寤轰笂杈规 鈥�浣跨敤涓嬭竟妗嗗皢鎵�湁鍏跺畠椤规斁缃湪 LI 涓�*/
	margin-bottom: 15px; /* 杩欏皢鍦ㄤ笅闈㈠唴瀹圭殑瀵艰埅涔嬮棿鍒涘缓闂磋窛 */
}

ul.nav li {
	border-bottom: 1px solid #666; /* 杩欏皢鍒涘缓鎸夐挳闂撮殧 */
}

ul.nav a,ul.nav a:visited { /* 瀵硅繖浜涢�鎷╁櫒杩涜鍒嗙粍鍙‘淇濋摼鎺ュ嵆浣垮湪璁块棶涔嬪悗涔熻兘淇濇寔鍏舵寜閽瑙�*/
	padding: 5px 5px 5px 15px;
	display: block; /* 杩欏皢涓洪摼鎺ヨ祴浜堝潡灞炴�锛屼娇鍏跺～婊″寘鍚畠鐨勬暣涓�LI銆傝繖鏍凤紝鏁翠釜鍖哄煙閮藉彲浠ュ搷搴旈紶鏍囧崟鍑绘搷浣溿� */
	width: 160px;
	/*姝ゅ搴︿娇鏁翠釜鎸夐挳鍦�IE6 涓彲鍗曞嚮銆傚鏋滄偍涓嶉渶瑕佹敮鎸�IE6锛屽彲浠ュ垹闄ゅ畠銆傝鐢ㄤ晶鏍忓鍣ㄧ殑瀹藉害鍑忓幓姝ら摼鎺ョ殑濉厖鏉ヨ绠楁纭殑瀹藉害銆�*/
	text-decoration: none;
	background: #C6D580;
}

ul.nav a:hover,ul.nav a:active,ul.nav a:focus {
	/* 杩欏皢鏇存敼榧犳爣鍜岄敭鐩樺鑸殑鑳屾櫙鍜屾枃鏈鑹�*/
	background: #D5F5F7;
	color: #000000;
}

/* ~~ 鍏跺畠娴姩/娓呴櫎绫�~~ */
.fltrt { /* 姝ょ被鍙敤浜庡湪椤甸潰涓娇鍏冪礌鍚戝彸娴姩銆傛诞鍔ㄥ厓绱犲繀椤讳綅浜庡叾鍦ㄩ〉闈笂鐨勭浉閭诲厓绱犱箣鍓嶃� */
	float: right;
	margin-left: 8px;
}

.fltlft { /* 姝ょ被鍙敤浜庡湪椤甸潰涓娇鍏冪礌鍚戝乏娴姩銆傛诞鍔ㄥ厓绱犲繀椤讳綅浜庡叾鍦ㄩ〉闈笂鐨勭浉閭诲厓绱犱箣鍓嶃� */
	float: left;
	margin-right: 8px;
}

.clearfloat {
	/* 濡傛灉浠�.container 涓垹闄や簡 overflow:hidden锛屽垯鍙互灏嗘绫绘斁缃湪 <br /> 鎴栫┖ div 涓紝浣滀负 #container 鍐呮渶鍚庝竴涓诞鍔�div 涔嬪悗鐨勬渶缁堝厓绱�*/
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

/*
	鐣欒█鏉挎牱寮�
*/
.guestbook-list {
	background: #FFFFFF;
    border: 1px solid #000;
}

.guestbook-head {
	font-size: 16px;
    background-color: #a9b7c6;
    padding: 0px;
    margin: 0;
}

.guestbook-name {
	padding: 0;
}

.guestbook-time {
	color: blue;
}

.guestbook-content {
	/*background-color: #c6c374;*/
}

.guestbook-reply {
	margin: 0px 0px 0px 100px;
	/*padding: 10px 0;*/
    padding-bottom:20px;
    -webkit-box-shadow:0px 0px 15px 3px #515151;
}

/*鍙戣〃涓婚*/
*{
    padding:0;
    margin:0;
    font-size:11pt;
    font-family:Verdana,sans-serif,'瀹嬩綋';
}
/*div{
    border:1px solid #eee;
    background-color:#fff;
    width:410px;
    border-radius:4px;
    padding:8px;
    padding-bottom:20px;
    -webkit-box-shadow:0px 0px 15px 3px #515151;
    -moz-box-shadow:0px 0px 15px 3px #515151;
}*/
textarea{
    width:100%;
    height:80px;
    margin-bottom:20px;
    background: none repeat scroll 0 0 #FFFFDD;
    background-color:#FFFFDD;
    border:1px solid #ccc;
    resize:none;
}
button{
    padding:2px;
    font-size:10pt
}
a{
    font-size:9pt;
    color:#4466BB;
}
.tip{
    display:block;
    margin-top:10px;
    margin-bottom:5px;
    font-size:10pt;
}
.close{
    background:url("http://www.oschina.net/js/2011/fancybox/fancybox.png") repeat scroll -40px 0 transparent;
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:-17px;
    right:-17px;
    z-index:9999999;
}
#theme {
    position: fixed;
    bottom: 10px;
    width: auto;
    background-color: white;
}
form{
    margin-left: 20px;
    width: 700px;
}